body {
  background-color: #909696;
}

button {
  width: 75px;
}

.jumbotron {
  text-align: center;
  border-bottom: 3px solid black;
  background-color: #747c7c;
}

.container {
  background-color: #acb0b0;
  padding: 25px;
  margin-top: 15px;
  max-width: 95%;
}

.input-group-text {
  width: 75px;
}

.clear-btn {
  text-align: center;
}

.current {
  background-color: #ff7070;
}

.future {
  background-color: #90ee90;
}

.past {
  background-color: #d3d3d3;
}
